%h2 Recette à editer

%input.string.search-bar{placeholder: "Saisir un nom ou un ingrédient"}

.index-items
  - @recipes.sort.to_h.each do |letter, recipes|
    %h2= letter
    - recipes.each do |recipe|
      .index-item
        %h4= link_to recipe.name, edit_admin_recipe_path(recipe.id)
