%h2 Nouvelle recette

= simple_form_for @recipe do |f|
  %h3 Nom
  = f.input :name, label: false, placeholder: "Gougères au comté"
  %h3 Ingrédients
  %h3 Contenu
  = f.input :content, as: :rich_text_area, label: false
  = f.submit
