input.string#recipe_name {
  width: 50%;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1rem;
}

.recipe_recipe_ingredients_ingredient {
  display: none;
}

.ingredient-text-input-container {
  position: relative;
  width: 100%;

  .ingredient-name-text-input {
    width: 100%;
    box-sizing: border-box;
  }

  .ingredient-autocomplete-results {
    position: absolute;
    margin-top: 0.2rem;
    border-radius: 4px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    width: calc(100% - 2px);
    z-index: 9999;
    background: white;
    border: 1px solid black;

    &.invisible {
      display: none;
    }

    .ingredient-autocomplete-separator {
      height: 1px;
      box-sizing: border-box;
      padding: 0 1rem;
      width: 100%;

      .line {
        width: 100%;
        height: 100%;
        background: lightgrey;
      }
    }

    .ingredient-autocomplete-result, button#ingredient-form {
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      background: transparent;
      font-family: "Cormorant Garamond";
      border: none;
      width: 100%;
      box-sizing: border-box;
      text-align: left;
    }

    button#ingredient-form {
      font-weight: bold;
    }

    .ingredient-autocomplete-result:hover, button#ingredient-form:hover {
      background: #f0f0f0;
    }
  }
}

.nested-fields {
  display: flex;
  border-left: 3px solid lightgrey;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 0.5rem;

  .ingredient-fields {
    width: 60%;

    #first-ingredient-fields-line {
      margin-bottom: 0.2rem;
    }

    .ingredient-fields-line {
      display: flex;

      .input {
        width: 100%;

        input, select {
          width: 100%;
        }
      }

      .ingredient-name {
        flex-grow: 1;
      }

      .quantity {
        margin-right: 1rem;
        width: 10%;
      }

      .unit-name {
        margin-right: 1rem;
        width: 20%;
      }

      .comment {
        width: 100%;
      }

      .ingredient-comment-field {
        box-sizing: border-box;
        font-style: italic;
      }
    }
  }

  .delete-btn {
    display: flex;
    font-size: 16px;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    a {
      color: #d67d7d
    }
  }
}

.ingredient-title-container {
  display: flex;
  align-items: center;
}

.portions {
  margin-bottom: 1rem;
}

.links.add-ingredient {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;

  .component {
    margin-left: 1rem;
  }

  a {
    display: flex;
    font-size: 1.4rem;
    color: #74d4a8;
  }
}

#recipe-picture-button {
  font-size: 1;
  display: block;
  cursor: pointer;
  border: 1px solid #06a052;
  padding: 0.5rem;
  border-radius: 16px;
  cursor: pointer;
  width: 7rem;
}

#recipe-picture-button.file-chosen {
  cursor: pointer;
  background: #06a052;
  color: white;
  padding: 0.5rem;
  border-radius: 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.salty-sweet-labels {
  display: flex;
  margin-top: 1rem;

  .salty-sweet-label {
    margin-right: 1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 40px;
    cursor: pointer;

    &#salty-label {
      border: 1px solid #b4da79;
    }

    &#sweet-label {
      border: 1px solid #ffb88c;
    }

    &#salty-label.selected {
      background: #b4da79;
    }

    &#sweet-label.selected {
      background: #ffb88c;
    }

    &.selected {
      -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
    }
  }
}
