.nested-fields {
  display: flex;
  border-left: 3px solid lightgrey;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 0.5rem;

  .ingredient-fields {
    width: 60%;

    #first-ingredient-fields-line {
      margin-bottom: 0.2rem;
    }

    .ingredient-fields-line {
      display: flex;

      .input {
        width: 100%;

        input, select {
          width: 100%;
        }
      }

      .ingredient-name {
        flex-grow: 1;
      }

      .quantity {
        margin-right: 1rem;
        width: 10%;
      }

      .unit-name {
        margin-right: 1rem;
        width: 20%;
      }

      .comment {
        width: 100%;
      }

      .ingredient-comment-field {
        box-sizing: border-box;
        font-style: italic;
      }
    }
  }

  .delete-btn {
    display: flex;
    font-size: 16px;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    a {
      color: #d67d7d
    }
  }
}

.ingredient-title-container {
  display: flex;
  align-items: center;
}

.links.add-ingredient {
  margin-top: 1rem;
    a {
      font-size: 1.4rem;
      color: #74d4a8;
    }
}

#recipe-picture-button {
  font-size: 1;
  display: block;
  cursor: pointer;
  border: 1px solid #06a052;
  padding: 0.5rem;
  border-radius: 16px;
  cursor: pointer;
  width: 7rem;
}

#recipe-picture-button.file-chosen {
  cursor: pointer;
  background: #06a052;
  color: white;
  padding: 0.5rem;
  border-radius: 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
