.nested-fields {
  display: flex;

  .input {
    width: 100%;

    input, select {
      width: 100%;
    }
  }

  .ingredient-name {
    margin-right: 2rem;
    width: 80%;
  }

  .quantity {
    margin-right: 1rem;
    width: 10%;
  }

  .unit-name {
    margin-right: 1rem;
    width: 10%;
  }

  .delete-btn {
    display: flex;
    font-size: 16px;
    margin-top: .3rem;
    margin-bottom: 1.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    a {
      color: #bd1414
    }
  }
}

.ingredient-title-container {
  display: flex;
  align-items: center;
}

.links.add-ingredient {
    a {
      font-size: 1.4rem;
      color: #06a052;
    }
}

.submit-container {
  display: inline-block;
}
