.title-container {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  letter-spacing: 10px;
}

.title-emojis {
  font-size: 128px;
}

.sections-container {
  text-align: center;
  margin: 4rem 0
}
