- if @recipe.picture.attachment
  = cl_image_tag @recipe.picture.key, width: 902, height: 600, crop: :fill, id: "recipe-picture"

%h3= @recipe.name

%h4.underlined Ingrédients
= render 'components/ingredients_list'

%h4.underlined Recette
.margin-left-small.padding-bottom-large
  = @recipe.content
