.wine-picture {
  height: 600px;
  width: 100vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.red-border {
    border-bottom: 1rem solid #5a0611;
  }

  &.white-border {
    border-bottom: 1rem solid #e0dca1;
  }

  &.rose-border {
    border-bottom: 1rem solid #e5a59a;
  }

  img {
    height: 100%;
  }
}

@media only screen and (min-width : 1200px) {
  .wine-picture {
    height: 450px;
    width: 450px;
    background-size:cover;
    background-position:center;

    &.red-border {
      border: 6px solid #5a0611;
    }

    &.white-border {
      border: 6px solid #e0dca1;
    }

    &.rose-border {
      border: 6px solid #e5a59a;
    }
  }
}
