.recipe-picture {
  height: 600px;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

ol.ingredient-list {
  margin: 0;
  margin-bottom: 1rem;
}

li.ingredient-item {
  margin-left: 24px;
}

.ingredient-container {
  align-items: baseline;
  justify-content: space-between;
  font-size: 48px;
  letter-spacing: 1px;
  margin-left: 16px;
}

.ingredient-line {
  display: flex;
}

.ingredient-name {
  width: 70%;
  display: flex;
}

.ingredient-comment {
  font-size: 0.8rem;
  font-style: italic;
}

.ingredient-quantity {
  display: flex;

  .ingredient-component {
    margin-left: 16px;
  }
}

@media only screen and (min-width : 1200px) {

  .recipe-picture {
    height: 450px;
    width: 700px;
    background-size:cover;
    background-position:center;
  }

  .ingredient-container {
    font-size: 1rem;
  }

  ol.ingredient-list {
    width: 60%
  }
}
