ul.ingredient-list {
  padding: 0.5rem 1rem;
  // border: 4px solid #000;
  // border-style: dotted;
  border-radius: 16px;
}

li.ingredient-item {
  margin-left: 24px;
}

.ingredient-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 48px;
  letter-spacing: 1px;
  margin-left: 16px;
}

.ingredient-name {
  width: 70%;
  display: flex;
}

.ingredient-quantity {
  display: flex;

  .ingredient-component {
    margin-left: 16px;
  }
}

.margin-left-small {
  margin-left: 16px;
}
