img#recipe-picture {
  display: block;
  width: 101vw;
  margin-left: 50%;
  margin-top: -1%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

ol.ingredient-list {
  margin: 0;
  margin-bottom: 1rem;
}

li.ingredient-item {
  margin-left: 24px;
}

.ingredient-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 48px;
  letter-spacing: 1px;
  margin-left: 16px;
}

.ingredient-name {
  width: 70%;
  display: flex;
}

.ingredient-quantity {
  display: flex;

  .ingredient-component {
    margin-left: 16px;
  }
}

.margin-left-small {
  margin-left: 16px;
}
