.index-items {
  margin-left: 1rem;
}

.index-item {
  border-left: 5px solid black;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width : 1200px) {
  .index-item {
    margin-bottom: 1rem;
    width: 50%;
  }
}
