.wine-tag-pill {
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
  -webkit-tap-highlight-color: transparent;

  &.clicked {
    color: #d7d7d7;
    background: black;
  }

  &.show-pill {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    cursor: default;
  }

  &#natural-label {
    border: 1px solid #0086d8;
    color: #0086d8;

    &.selected {
      background: #0086d8;
      color: white;
    }
  }

  &#organic-label {
    border: 1px solid #009846;
    color: #009846;

    &.selected {
      background: #009846;
      color: white;
    }
  }

  &#biodynamic-label {
    border: 1px solid purple;
    color: purple;

    &.selected {
      background: purple;
      color: white;
    }
  }

  &.red-color {
    border: none;
    background: #5a0611;
    color: #f7f7f7
  }

  &.white-color {
    border: none;
    background: #e0dca1;
    color: black;
  }

  &.rose-color {
    border: none;
    background: #e5a59a;
    color: black;
  }
}
