.wine-tag-pill {
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
  -webkit-tap-highlight-color: transparent;

  &.clicked {
    color: #d7d7d7;
    background: black;
  }

  &#organic-label {
    border: 1px solid #70af8d;
    color: #70af8d;

    &.selected {
      background: #70af8d;
      color: white;
    }
  }

  &#biodynamic-label {
    border: 1px solid #a270a2;
    color: #a270a2;

    &.selected {
      background: #a270a2;
      color: white;
    }
  }

    &#natural-label {
      border: 1px solid #5eb2e6;
      color: #5eb2e6;

      &.selected {
        background: #5eb2e6;
        color: white;
      }
    }

  &.red-color {
    border: none;
    background: #5a0611;
    color: #f7f7f7
  }

  &.white-color {
    border: none;
    background: #e0dca1;
    color: black;
  }

  &.rose-color {
    border: none;
    background: #e5a59a;
    color: black;
  }
}
