@font-face {
  font-family: "Alberto Regular";
  src: asset-url('Alberto/Alberto-Regular.ttf');
}

@font-face {
  font-family: "Cormorant Garamond";
  src: asset-url('Cormorant_Garamond/CormorantGaramond-Medium.ttf');
}
