input.string {
  width: 50%;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 1px solid black;
  padding: 0.6rem;
  font-family: "Cormorant Garamond";
}

input.string:focus {
  outline: none;
  border: 2px solid #4b808c;
}
