%h2 Vin à editer

.recipes
  %ul
    - @wines.sort.to_h.each do |letter, wines|
      %h2= letter
      - wines.each do |wine|
        .recipe
          %h4= link_to wine.name, edit_admin_wine_path(wine.id)
