%h2 Vins

%input.string.search-bar{placeholder: "Saisir un nom, un cépage, une région ou un producteur"}

.index-items
  - @wines.sort.to_h.each do |letter, wines|
    %h2= letter
    - wines.each do |wine|
      .index-item
        %h4= link_to wine.name, wine_path(wine.friendly_id)
        .wine-index-review.wine-review{class: wine_review_class_for(wine)}
          = wine.round_average_review
